<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MS1 Capstone APIs Proj </title>
</head>
<body>
  <h1>MS1 CAPSTONE API ACESS PROJ</h1>
  <p>EJS test: <%= test %></p>
</body>
</html>